docs/src/docs.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- === -->
	<!-- Set -->
	<!-- === -->
	
	<xs:element name="set">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="introduction" type="content-container-type" minOccurs="0" maxOccurs="1"/>
				
				<xs:element name="items" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element ref="set"/>
							<xs:element ref="class"/>
							<xs:element ref="guide"/>
							<xs:element ref="page"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<!-- ===== -->
	<!-- Class -->
	<!-- ===== -->
	
	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="dependencies" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="introduction" type="content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="lessons" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element ref="lesson"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="lesson">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="introduction" type="content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="tasks" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="task">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
										<xs:element name="body" type="content-container-type" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
									
									<xs:attribute name="id" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- ===== -->
	<!-- Guide -->
	<!-- ===== -->
	
	<xs:element name="guide">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="introduction" type="content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="articles" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element ref="article"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="article">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="related" type="ref-list-type" minOccurs="0" maxOccurs="1"/>
				<xs:element name="introduction" type="content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="topics" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="topic">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
										<xs:element name="body" type="content-container-type" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
									
									<xs:attribute name="id" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- ==== -->
	<!-- Page -->
	<!-- ==== -->
	
	<xs:element name="page">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="body" type="content-container-type"/>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="xhtml-page">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				<xs:element name="description" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
				
				<xs:element name="icon" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="head" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:any processContents="lax"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="body" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="unbounded">
							<xs:any processContents="lax"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			
			<xs:attribute name="id" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- ======= -->
	<!-- Content -->
	<!-- ======= -->
	
	<xs:element name="ref">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="simple-content-container-type">
					<xs:attribute name="href" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="external-ref">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="simple-content-container-type">
					<xs:attribute name="href" type="xs:string" use="required" />
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="href" type="xs:string" use="required"/>
			<xs:attribute name="alt" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="height" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<!-- ===== -->
	<!-- Types -->
	<!-- ===== -->
	
	<xs:complexType name="code">
		<xs:complexContent>
			<xs:extension base="plain-content-container-type">
				<xs:attribute name="language">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="objective-c"/>
							<xs:enumeration value="java"/>
							<xs:enumeration value="android"/>
							<xs:enumeration value="c#"/>
							<xs:enumeration value="javascript"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ref-list-type">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="item" type="simple-content-container-type"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="plain-content-container-type">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="simple-content-container-type" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- Simple Content -->
			<xs:element name="emphasis" type="simple-content-container-type"/>
			<xs:element name="strong" type="simple-content-container-type"/>
			
			<!-- Reference -->
			<xs:element ref="ref"/>
			<xs:element ref="external-ref"/>
			
			<!-- Code -->
			<xs:element name="code" type="code" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	
	<!-- TODO: Restrict content containers based on what other containers they can
		 contain (e.g. paragraph can't contain paragraph, section/section, etc). -->
	
	<xs:complexType name="content-container-type" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<!-- APIs -->
			<xs:any namespace="http://www.couchbase.com/lite/api" minOccurs="0" maxOccurs="unbounded"/>
			
			<!-- Simple Content -->
			<xs:element name="emphasis" type="simple-content-container-type"/>
			<xs:element name="strong" type="simple-content-container-type"/>
			
			<!-- Reference -->
			<xs:element ref="ref"/>
			<xs:element ref="external-ref"/>
			
			<!-- Code -->
			<xs:element name="code" type="code" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code-block" type="code" minOccurs="0" maxOccurs="unbounded"/>
			
			<xs:element name="paragraph" type="simple-content-container-type" minOccurs="0" maxOccurs="unbounded"/>
			
			<!-- List -->
			<xs:element name="ordered-list" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:element name="list-item" type="content-container-type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="unordered-list" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:element name="list-item" type="content-container-type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="description-list" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="unbounded">
						<xs:element name="entry">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="title" type="content-container-type"/>
									<xs:element name="description" type="content-container-type"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
			
			<xs:element name="figure" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="description" type="simple-content-container-type" minOccurs="1" maxOccurs="1"/>
						<xs:element ref="image" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					
					<xs:attribute name="importance" default="low">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="high"/>
								<xs:enumeration value="normal"/>
								<xs:enumeration value="low"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="note" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="content-container-type">
							<xs:attribute name="type" default="note">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="note"/>
										<xs:enumeration value="tip"/>
										<xs:enumeration value="caution"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			
			<!-- Sections -->
			<xs:element name="section" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
						<xs:element name="body" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:complexContent mixed="true">
									<xs:extension base="content-container-type">
										<xs:sequence>
											<xs:element name="subsection" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="title" type="plain-content-container-type" minOccurs="1" maxOccurs="1"/>
														<xs:element name="body" type="content-container-type" minOccurs="1" maxOccurs="1"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					
					<xs:attribute name="id" type="xs:string" use="required" />
				</xs:complexType>
			</xs:element>
			
			<!-- Table -->
			<xs:element name="table" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="description" type="simple-content-container-type" minOccurs="0" maxOccurs="1"/>
						<xs:element name="header" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="row" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="entry" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="simple-content-container-type">
																<xs:attribute name="colspan" type="xs:integer"/>
																<xs:attribute name="rowspan" type="xs:integer"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="body" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="row" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="entry" minOccurs="1" maxOccurs="unbounded">
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="content-container-type">
																<xs:attribute name="colspan" type="xs:integer"/>
																<xs:attribute name="rowspan" type="xs:integer"/>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<!-- Code-Set -->
			<xs:element name="code-set" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code-block" type="code" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>